* {
    font-size: 10px;
    margin: 0;
}

header {
    background-color: #313036;
    height: 30rem;
    color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1599509221568-2d6c928faa88?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1965&q=80");
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2rem;
    background-color: #313036;
    color: #EAECED;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.App {
    margin: 0;
    padding: 0;
}

.label {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 40px;
}

.title {
    color: white;
    font-size: 4.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.input-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    color: gray;
    line-height: 2.8rem;
    padding: 0.5rem 2rem;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 3rem;
    width: 80%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.search{
    width: 100%;
}
.input {
    margin-left: 0.5rem;
    font-size: 1.6rem;
    /* width: 100%; */
    background: none;
    border: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus{
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}
.input:focus{
    outline: none;
}

.button {
    background-color: lightgray;
    border: none;
    color: white;
    /* padding: 0.65rem 1rem; */
    border-radius: 100%;
    cursor: pointer;
    transition: background-color 250ms;
    float: right;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.85);
}


.card--image {
    flex: 100%;
    margin-top: .5rem;
    border-radius: 10px;
}

.card-list {
    column-count: 4;
}

@media only screen and (max-width: 900px) {
    .card-list {
        column-count: 3;
    }
}

@media only screen and (max-width: 600px) {
    .card-list {
        column-count: 2;
    }
}